# Handling missing values

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('matches.csv')
data.head()

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1.0,Yes,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Sunrisers Hyderabad
1,2.0,Yes,2017,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0.0,Rising Pune Supergiant
2,3.0,Yes,2017,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0.0,Kolkata Knight Riders
3,NaN,Yes,2017,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0.0,Kings XI Punjab
4,NaN,Yes,2017,Bangalore,NaN,NaN,Royal Challengers Bangalore,bat,NaN,NaN,Royal Challengers Bangalore

# na values

### to make some type of values as null like not available, no values

In [3]:
data = pd.read_csv('matches.csv', na_values = ['not available','no values']) 
data.head()

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1.0,Yes,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Sunrisers Hyderabad
1,2.0,Yes,2017,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0.0,Rising Pune Supergiant
2,3.0,Yes,2017,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0.0,Kolkata Knight Riders
3,NaN,Yes,2017,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0.0,Kings XI Punjab
4,NaN,Yes,2017,Bangalore,NaN,NaN,Royal Challengers Bangalore,bat,NaN,NaN,Royal Challengers Bangalore

### to make specific column nan

In [4]:
data = pd.read_csv('matches.csv', na_values = {'team1' : ['no values','not available']})
data.head()

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1.0,Yes,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Sunrisers Hyderabad
1,2.0,Yes,2017,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0.0,Rising Pune Supergiant
2,3.0,Yes,2017,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0.0,Kolkata Knight Riders
3,NaN,Yes,2017,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0.0,Kings XI Punjab
4,NaN,Yes,2017,Bangalore,NaN,NaN,Royal Challengers Bangalore,bat,NaN,NaN,Royal Challengers Bangalore

# keep_default_na

### keep nan values same like #nan as #nan not as nan

In [5]:
data = pd.read_csv('matches.csv', keep_default_na= False) 
data.head()

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1,Yes,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad
1,2,Yes,2017,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant
2,3,Yes,2017,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders
3,,Yes,2017,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab
4,,Yes,2017,Bangalore,,,Royal Challengers Bangalore,bat,,,Royal Challengers Bangalore

# na_filter

### to boast performance

In [6]:
data = pd.read_csv('matches.csv', na_filter = False) 
data.head()

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1,Yes,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad
1,2,Yes,2017,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant
2,3,Yes,2017,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders
3,,Yes,2017,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab
4,,Yes,2017,Bangalore,,,Royal Challengers Bangalore,bat,,,Royal Challengers Bangalore

### isnull

In [7]:
data = pd.read_csv('matches.csv')

In [8]:
data.head()

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1.0,Yes,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Sunrisers Hyderabad
1,2.0,Yes,2017,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0.0,Rising Pune Supergiant
2,3.0,Yes,2017,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0.0,Kolkata Knight Riders
3,NaN,Yes,2017,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0.0,Kings XI Punjab
4,NaN,Yes,2017,Bangalore,NaN,NaN,Royal Challengers Bangalore,bat,NaN,NaN,Royal Challengers Bangalore

In [9]:
data.isnull().sum()

id                7
date              0
season            0
city              0
team1             5
team2             7
toss_winner       0
toss_decision     0
result            6
dl_applied       10
winner            1
dtype: int64

In [10]:
data.isnull().sum().sum()

36

### not null

In [11]:
data.notnull()

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True
3,False,True,True,True,True,True,True,True,True,True,True
4,False,True,True,True,False,False,True,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
373,True,True,True,True,True,True,True,True,True,True,True
374,True,True,True,True,True,True,True,True,True,True,True
375,True,True,True,True,True,True,True,True,True,True,True
376,True,True,True,True,True,True,True,True,True,True,True
377,True,True,True,True,True,True,True,True,True,True,True

In [12]:
data.notnull().sum()

id               371
date             378
season           378
city             378
team1            373
team2            371
toss_winner      378
toss_decision    378
result           372
dl_applied       368
winner           377
dtype: int64

In [13]:
data.notnull().sum().sum()

4122

### dropna

In [14]:
data.dropna()

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1.0,Yes,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Sunrisers Hyderabad
1,2.0,Yes,2017,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0.0,Rising Pune Supergiant
2,3.0,Yes,2017,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0.0,Kolkata Knight Riders
14,15.0,Yes,2017,Delhi,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,bat,normal,0.0,Delhi Daredevils
15,16.0,Yes,2017,Mumbai,Gujarat Lions,Mumbai Indians,Mumbai Indians,field,normal,0.0,Mumbai Indians
...,...,...,...,...,...,...,...,...,...,...,...
373,374.0,No,2012,Dharamsala,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0.0,Delhi Daredevils
374,375.0,No,2012,Pune,Kolkata Knight Riders,Pune Warriors,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders
375,376.0,No,2012,Hyderabad,Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Deccan Chargers
376,377.0,No,2012,Jaipur,Rajasthan Royals,Mumbai Indians,Rajasthan Royals,bat,normal,0.0,Mumbai Indians
377,378.0,No,2012,Pune,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders

In [15]:
data.dropna(axis = 1)

    date  season        city                  toss_winner toss_decision
0    Yes    2017   Hyderabad  Royal Challengers Bangalore         field
1    Yes    2017        Pune       Rising Pune Supergiant         field
2    Yes    2017      Rajkot        Kolkata Knight Riders         field
3    Yes    2017      Indore              Kings XI Punjab         field
4    Yes    2017   Bangalore  Royal Challengers Bangalore           bat
..   ...     ...         ...                          ...           ...
373   No    2012  Dharamsala             Delhi Daredevils         field
374   No    2012        Pune        Kolkata Knight Riders           bat
375   No    2012   Hyderabad  Royal Challengers Bangalore         field
376   No    2012      Jaipur             Rajasthan Royals           bat
377   No    2012        Pune        Kolkata Knight Riders           bat

[378 rows x 5 columns]

In [16]:
data.dropna(how = 'all')

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1.0,Yes,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Sunrisers Hyderabad
1,2.0,Yes,2017,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0.0,Rising Pune Supergiant
2,3.0,Yes,2017,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0.0,Kolkata Knight Riders
3,NaN,Yes,2017,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0.0,Kings XI Punjab
4,NaN,Yes,2017,Bangalore,NaN,NaN,Royal Challengers Bangalore,bat,NaN,NaN,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...
373,374.0,No,2012,Dharamsala,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0.0,Delhi Daredevils
374,375.0,No,2012,Pune,Kolkata Knight Riders,Pune Warriors,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders
375,376.0,No,2012,Hyderabad,Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Deccan Chargers
376,377.0,No,2012,Jaipur,Rajasthan Royals,Mumbai Indians,Rajasthan Royals,bat,normal,0.0,Mumbai Indians
377,378.0,No,2012,Pune,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders

In [17]:
data.dropna(how = 'all')

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1.0,Yes,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Sunrisers Hyderabad
1,2.0,Yes,2017,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0.0,Rising Pune Supergiant
2,3.0,Yes,2017,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0.0,Kolkata Knight Riders
3,NaN,Yes,2017,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0.0,Kings XI Punjab
4,NaN,Yes,2017,Bangalore,NaN,NaN,Royal Challengers Bangalore,bat,NaN,NaN,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...
373,374.0,No,2012,Dharamsala,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0.0,Delhi Daredevils
374,375.0,No,2012,Pune,Kolkata Knight Riders,Pune Warriors,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders
375,376.0,No,2012,Hyderabad,Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Deccan Chargers
376,377.0,No,2012,Jaipur,Rajasthan Royals,Mumbai Indians,Rajasthan Royals,bat,normal,0.0,Mumbai Indians
377,378.0,No,2012,Pune,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders

### thresh

In [18]:
data.dropna(thresh = 1) # check notnull

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1.0,Yes,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Sunrisers Hyderabad
1,2.0,Yes,2017,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0.0,Rising Pune Supergiant
2,3.0,Yes,2017,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0.0,Kolkata Knight Riders
3,NaN,Yes,2017,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0.0,Kings XI Punjab
4,NaN,Yes,2017,Bangalore,NaN,NaN,Royal Challengers Bangalore,bat,NaN,NaN,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...
373,374.0,No,2012,Dharamsala,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0.0,Delhi Daredevils
374,375.0,No,2012,Pune,Kolkata Knight Riders,Pune Warriors,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders
375,376.0,No,2012,Hyderabad,Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Deccan Chargers
376,377.0,No,2012,Jaipur,Rajasthan Royals,Mumbai Indians,Rajasthan Royals,bat,normal,0.0,Mumbai Indians
377,378.0,No,2012,Pune,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders

### subset

In [19]:
data.dropna(subset = ['id']) # to drop specific column nan values

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1.0,Yes,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Sunrisers Hyderabad
1,2.0,Yes,2017,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0.0,Rising Pune Supergiant
2,3.0,Yes,2017,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0.0,Kolkata Knight Riders
10,11.0,Yes,2017,Kolkata,Kings XI Punjab,NaN,Kolkata Knight Riders,field,normal,NaN,Kolkata Knight Riders
11,12.0,Yes,2017,Bangalore,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,NaN,Mumbai Indians
...,...,...,...,...,...,...,...,...,...,...,...
373,374.0,No,2012,Dharamsala,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0.0,Delhi Daredevils
374,375.0,No,2012,Pune,Kolkata Knight Riders,Pune Warriors,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders
375,376.0,No,2012,Hyderabad,Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Deccan Chargers
376,377.0,No,2012,Jaipur,Rajasthan Royals,Mumbai Indians,Rajasthan Royals,bat,normal,0.0,Mumbai Indians
377,378.0,No,2012,Pune,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders

### inplace

In [20]:
data.dropna(inplace = True)   # to make permanent change in data

In [21]:
data = pd.read_csv('matches.csv')

###  fillna

In [22]:
data.fillna(0)

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1.0,Yes,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Sunrisers Hyderabad
1,2.0,Yes,2017,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0.0,Rising Pune Supergiant
2,3.0,Yes,2017,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0.0,Kolkata Knight Riders
3,0.0,Yes,2017,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0.0,Kings XI Punjab
4,0.0,Yes,2017,Bangalore,0,0,Royal Challengers Bangalore,bat,0,0.0,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...
373,374.0,No,2012,Dharamsala,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0.0,Delhi Daredevils
374,375.0,No,2012,Pune,Kolkata Knight Riders,Pune Warriors,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders
375,376.0,No,2012,Hyderabad,Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Deccan Chargers
376,377.0,No,2012,Jaipur,Rajasthan Royals,Mumbai Indians,Rajasthan Royals,bat,normal,0.0,Mumbai Indians
377,378.0,No,2012,Pune,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders

In [23]:
data.fillna(2)

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1.0,Yes,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Sunrisers Hyderabad
1,2.0,Yes,2017,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0.0,Rising Pune Supergiant
2,3.0,Yes,2017,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0.0,Kolkata Knight Riders
3,2.0,Yes,2017,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0.0,Kings XI Punjab
4,2.0,Yes,2017,Bangalore,2,2,Royal Challengers Bangalore,bat,2,2.0,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...
373,374.0,No,2012,Dharamsala,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0.0,Delhi Daredevils
374,375.0,No,2012,Pune,Kolkata Knight Riders,Pune Warriors,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders
375,376.0,No,2012,Hyderabad,Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Deccan Chargers
376,377.0,No,2012,Jaipur,Rajasthan Royals,Mumbai Indians,Rajasthan Royals,bat,normal,0.0,Mumbai Indians
377,378.0,No,2012,Pune,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders

In [24]:
data.fillna({'id' : "none"})

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1,Yes,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Sunrisers Hyderabad
1,2,Yes,2017,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0.0,Rising Pune Supergiant
2,3,Yes,2017,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0.0,Kolkata Knight Riders
3,none,Yes,2017,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0.0,Kings XI Punjab
4,none,Yes,2017,Bangalore,NaN,NaN,Royal Challengers Bangalore,bat,NaN,NaN,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...
373,374,No,2012,Dharamsala,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0.0,Delhi Daredevils
374,375,No,2012,Pune,Kolkata Knight Riders,Pune Warriors,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders
375,376,No,2012,Hyderabad,Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Deccan Chargers
376,377,No,2012,Jaipur,Rajasthan Royals,Mumbai Indians,Rajasthan Royals,bat,normal,0.0,Mumbai Indians
377,378,No,2012,Pune,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders

In [25]:
data.fillna(method = 'ffill')   # forward fill / previous value
data.fillna(method = 'pad')     # forward fill

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1.0,Yes,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Sunrisers Hyderabad
1,2.0,Yes,2017,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0.0,Rising Pune Supergiant
2,3.0,Yes,2017,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0.0,Kolkata Knight Riders
3,3.0,Yes,2017,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0.0,Kings XI Punjab
4,3.0,Yes,2017,Bangalore,Rising Pune Supergiant,Kings XI Punjab,Royal Challengers Bangalore,bat,normal,0.0,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...
373,374.0,No,2012,Dharamsala,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0.0,Delhi Daredevils
374,375.0,No,2012,Pune,Kolkata Knight Riders,Pune Warriors,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders
375,376.0,No,2012,Hyderabad,Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Deccan Chargers
376,377.0,No,2012,Jaipur,Rajasthan Royals,Mumbai Indians,Rajasthan Royals,bat,normal,0.0,Mumbai Indians
377,378.0,No,2012,Pune,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders

In [26]:
data.fillna(method = 'bfill')   # backwordfill

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1.0,Yes,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Sunrisers Hyderabad
1,2.0,Yes,2017,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0.0,Rising Pune Supergiant
2,3.0,Yes,2017,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0.0,Kolkata Knight Riders
3,11.0,Yes,2017,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0.0,Kings XI Punjab
4,11.0,Yes,2017,Bangalore,Sunrisers Hyderabad,Mumbai Indians,Royal Challengers Bangalore,bat,normal,0.0,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...
373,374.0,No,2012,Dharamsala,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0.0,Delhi Daredevils
374,375.0,No,2012,Pune,Kolkata Knight Riders,Pune Warriors,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders
375,376.0,No,2012,Hyderabad,Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Deccan Chargers
376,377.0,No,2012,Jaipur,Rajasthan Royals,Mumbai Indians,Rajasthan Royals,bat,normal,0.0,Mumbai Indians
377,378.0,No,2012,Pune,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders

### replace

In [27]:
data.replace(to_replace = 'normal', value = 'medium')

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1.0,Yes,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,medium,0.0,Sunrisers Hyderabad
1,2.0,Yes,2017,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,medium,0.0,Rising Pune Supergiant
2,3.0,Yes,2017,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,medium,0.0,Kolkata Knight Riders
3,NaN,Yes,2017,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,medium,0.0,Kings XI Punjab
4,NaN,Yes,2017,Bangalore,NaN,NaN,Royal Challengers Bangalore,bat,NaN,NaN,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...
373,374.0,No,2012,Dharamsala,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,medium,0.0,Delhi Daredevils
374,375.0,No,2012,Pune,Kolkata Knight Riders,Pune Warriors,Kolkata Knight Riders,bat,medium,0.0,Kolkata Knight Riders
375,376.0,No,2012,Hyderabad,Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,medium,0.0,Deccan Chargers
376,377.0,No,2012,Jaipur,Rajasthan Royals,Mumbai Indians,Rajasthan Royals,bat,medium,0.0,Mumbai Indians
377,378.0,No,2012,Pune,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,medium,0.0,Kolkata Knight Riders

In [28]:
data.replace('normal', 'medium')

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1.0,Yes,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,medium,0.0,Sunrisers Hyderabad
1,2.0,Yes,2017,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,medium,0.0,Rising Pune Supergiant
2,3.0,Yes,2017,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,medium,0.0,Kolkata Knight Riders
3,NaN,Yes,2017,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,medium,0.0,Kings XI Punjab
4,NaN,Yes,2017,Bangalore,NaN,NaN,Royal Challengers Bangalore,bat,NaN,NaN,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...
373,374.0,No,2012,Dharamsala,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,medium,0.0,Delhi Daredevils
374,375.0,No,2012,Pune,Kolkata Knight Riders,Pune Warriors,Kolkata Knight Riders,bat,medium,0.0,Kolkata Knight Riders
375,376.0,No,2012,Hyderabad,Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,medium,0.0,Deccan Chargers
376,377.0,No,2012,Jaipur,Rajasthan Royals,Mumbai Indians,Rajasthan Royals,bat,medium,0.0,Mumbai Indians
377,378.0,No,2012,Pune,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,medium,0.0,Kolkata Knight Riders

In [29]:
data.replace([1,2,3,5,6],0)

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,0.0,Yes,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Sunrisers Hyderabad
1,0.0,Yes,2017,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0.0,Rising Pune Supergiant
2,0.0,Yes,2017,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0.0,Kolkata Knight Riders
3,NaN,Yes,2017,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0.0,Kings XI Punjab
4,NaN,Yes,2017,Bangalore,NaN,NaN,Royal Challengers Bangalore,bat,NaN,NaN,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...
373,374.0,No,2012,Dharamsala,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0.0,Delhi Daredevils
374,375.0,No,2012,Pune,Kolkata Knight Riders,Pune Warriors,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders
375,376.0,No,2012,Hyderabad,Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Deccan Chargers
376,377.0,No,2012,Jaipur,Rajasthan Royals,Mumbai Indians,Rajasthan Royals,bat,normal,0.0,Mumbai Indians
377,378.0,No,2012,Pune,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders

In [30]:
data.replace({'city': 'Pune'}, 'none')

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1.0,Yes,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Sunrisers Hyderabad
1,2.0,Yes,2017,none,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0.0,Rising Pune Supergiant
2,3.0,Yes,2017,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0.0,Kolkata Knight Riders
3,NaN,Yes,2017,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0.0,Kings XI Punjab
4,NaN,Yes,2017,Bangalore,NaN,NaN,Royal Challengers Bangalore,bat,NaN,NaN,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...
373,374.0,No,2012,Dharamsala,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0.0,Delhi Daredevils
374,375.0,No,2012,none,Kolkata Knight Riders,Pune Warriors,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders
375,376.0,No,2012,Hyderabad,Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Deccan Chargers
376,377.0,No,2012,Jaipur,Rajasthan Royals,Mumbai Indians,Rajasthan Royals,bat,normal,0.0,Mumbai Indians
377,378.0,No,2012,none,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders

In [31]:
data.replace('[A-Za-z]',0)

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1.0,Yes,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Sunrisers Hyderabad
1,2.0,Yes,2017,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0.0,Rising Pune Supergiant
2,3.0,Yes,2017,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0.0,Kolkata Knight Riders
3,NaN,Yes,2017,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0.0,Kings XI Punjab
4,NaN,Yes,2017,Bangalore,NaN,NaN,Royal Challengers Bangalore,bat,NaN,NaN,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...
373,374.0,No,2012,Dharamsala,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0.0,Delhi Daredevils
374,375.0,No,2012,Pune,Kolkata Knight Riders,Pune Warriors,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders
375,376.0,No,2012,Hyderabad,Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Deccan Chargers
376,377.0,No,2012,Jaipur,Rajasthan Royals,Mumbai Indians,Rajasthan Royals,bat,normal,0.0,Mumbai Indians
377,378.0,No,2012,Pune,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders

In [32]:
data.replace('[A-Za-z]',0, regex = True)       # to replace string value

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1.0,0,2017,0,0.0,0.0,0,0,0.0,0.0,0.0
1,2.0,0,2017,0,0.0,0.0,0,0,0.0,0.0,0.0
2,3.0,0,2017,0,0.0,0.0,0,0,0.0,0.0,0.0
3,NaN,0,2017,0,0.0,0.0,0,0,0.0,0.0,0.0
4,NaN,0,2017,0,NaN,NaN,0,0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...
373,374.0,0,2012,0,0.0,0.0,0,0,0.0,0.0,0.0
374,375.0,0,2012,0,0.0,0.0,0,0,0.0,0.0,0.0
375,376.0,0,2012,0,0.0,0.0,0,0,0.0,0.0,0.0
376,377.0,0,2012,0,0.0,0.0,0,0,0.0,0.0,0.0
377,378.0,0,2012,0,0.0,0.0,0,0,0.0,0.0,0.0

In [33]:
data.replace({'result' : '[A-Za-z]'}, 1, regex = True)

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1.0,Yes,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,1.0,0.0,Sunrisers Hyderabad
1,2.0,Yes,2017,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,1.0,0.0,Rising Pune Supergiant
2,3.0,Yes,2017,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,1.0,0.0,Kolkata Knight Riders
3,NaN,Yes,2017,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,1.0,0.0,Kings XI Punjab
4,NaN,Yes,2017,Bangalore,NaN,NaN,Royal Challengers Bangalore,bat,NaN,NaN,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...
373,374.0,No,2012,Dharamsala,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,1.0,0.0,Delhi Daredevils
374,375.0,No,2012,Pune,Kolkata Knight Riders,Pune Warriors,Kolkata Knight Riders,bat,1.0,0.0,Kolkata Knight Riders
375,376.0,No,2012,Hyderabad,Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,1.0,0.0,Deccan Chargers
376,377.0,No,2012,Jaipur,Rajasthan Royals,Mumbai Indians,Rajasthan Royals,bat,1.0,0.0,Mumbai Indians
377,378.0,No,2012,Pune,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,1.0,0.0,Kolkata Knight Riders

In [34]:
data.replace(method = 'ffill')

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1.0,Yes,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Sunrisers Hyderabad
1,2.0,Yes,2017,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0.0,Rising Pune Supergiant
2,3.0,Yes,2017,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0.0,Kolkata Knight Riders
3,3.0,Yes,2017,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0.0,Kings XI Punjab
4,3.0,Yes,2017,Bangalore,Rising Pune Supergiant,Kings XI Punjab,Royal Challengers Bangalore,bat,normal,0.0,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...
373,374.0,No,2012,Dharamsala,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0.0,Delhi Daredevils
374,375.0,No,2012,Pune,Kolkata Knight Riders,Pune Warriors,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders
375,376.0,No,2012,Hyderabad,Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Deccan Chargers
376,377.0,No,2012,Jaipur,Rajasthan Royals,Mumbai Indians,Rajasthan Royals,bat,normal,0.0,Mumbai Indians
377,378.0,No,2012,Pune,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders

# interpolate

### Pandas interpolate() function is basically used to fill NaN values in dataframe or series

In [35]:
data = pd.read_csv('matches.csv')
data

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1.0,Yes,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Sunrisers Hyderabad
1,2.0,Yes,2017,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0.0,Rising Pune Supergiant
2,3.0,Yes,2017,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0.0,Kolkata Knight Riders
3,NaN,Yes,2017,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0.0,Kings XI Punjab
4,NaN,Yes,2017,Bangalore,NaN,NaN,Royal Challengers Bangalore,bat,NaN,NaN,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...
373,374.0,No,2012,Dharamsala,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0.0,Delhi Daredevils
374,375.0,No,2012,Pune,Kolkata Knight Riders,Pune Warriors,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders
375,376.0,No,2012,Hyderabad,Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Deccan Chargers
376,377.0,No,2012,Jaipur,Rajasthan Royals,Mumbai Indians,Rajasthan Royals,bat,normal,0.0,Mumbai Indians
377,378.0,No,2012,Pune,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders

In [36]:
data.interpolate()

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1.0,Yes,2017,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Sunrisers Hyderabad
1,2.0,Yes,2017,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0.0,Rising Pune Supergiant
2,3.0,Yes,2017,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0.0,Kolkata Knight Riders
3,4.0,Yes,2017,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0.0,Kings XI Punjab
4,5.0,Yes,2017,Bangalore,NaN,NaN,Royal Challengers Bangalore,bat,NaN,0.0,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...
373,374.0,No,2012,Dharamsala,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0.0,Delhi Daredevils
374,375.0,No,2012,Pune,Kolkata Knight Riders,Pune Warriors,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders
375,376.0,No,2012,Hyderabad,Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Deccan Chargers
376,377.0,No,2012,Jaipur,Rajasthan Royals,Mumbai Indians,Rajasthan Royals,bat,normal,0.0,Mumbai Indians
377,378.0,No,2012,Pune,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders

In [37]:
data = pd.read_csv('matches.csv',parse_dates=['season'])

In [38]:
data

,id,date,season,city,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,1.0,Yes,2017-01-01,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Sunrisers Hyderabad
1,2.0,Yes,2017-01-01,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0.0,Rising Pune Supergiant
2,3.0,Yes,2017-01-01,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0.0,Kolkata Knight Riders
3,NaN,Yes,2017-01-01,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0.0,Kings XI Punjab
4,NaN,Yes,2017-01-01,Bangalore,NaN,NaN,Royal Challengers Bangalore,bat,NaN,NaN,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...
373,374.0,No,2012-01-01,Dharamsala,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0.0,Delhi Daredevils
374,375.0,No,2012-01-01,Pune,Kolkata Knight Riders,Pune Warriors,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders
375,376.0,No,2012-01-01,Hyderabad,Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0.0,Deccan Chargers
376,377.0,No,2012-01-01,Jaipur,Rajasthan Royals,Mumbai Indians,Rajasthan Royals,bat,normal,0.0,Mumbai Indians
377,378.0,No,2012-01-01,Pune,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0.0,Kolkata Knight Riders